name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: "test / ${{ matrix.ruby }} / ${{ matrix.redis }}"

    runs-on: ubuntu-latest

    services:
      redis:
        image: ${{ matrix.redis }}
        ports:
          - "6379:6379"
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      BUNDLE_GEMS__CONTRIBSYS__COM: ${{ secrets.BUNDLE_GEMS__CONTRIBSYS__COM }}

    strategy:
      fail-fast: false
      matrix:
        ruby: [ ruby-3.2, ruby-3.3, ruby-3.4, ruby-4.0 ]
        redis: [ "redis:7.0", "redis:7.2" ]

    steps:
      - uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run test suites
        run: bundle exec rake test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5

  # See: https://github.com/orgs/community/discussions/26822#discussioncomment-3305794
  test-finale:
    name: "test"

    runs-on: ubuntu-latest
    if: ${{ always() }}

    needs: [test]

    steps:
      - run: test "success" = "${{ needs.test.result }}"

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.2
          bundler-cache: true

      - run: bundle exec rake lint
